<div class="container">
    <h1>Parámetros</h1>
    <form>
      <div class="form-group">
        <label for="width">Width</label>
        <input type="text" class="form-control" id="width"
               required [(ngModel)]="target.width" name="width" #width="ngModel">
      </div>

      <button (click)="applyFilter()">Apply Filter</button>

      <div class="form-group">
        <label for="original">Original image</label>
        <img [src]="imgPath" width="500" id="original" title="{{imgTitle}}" />
      </div>

      <div class="form-group" *ngIf="target.processed">
        <label for="targetImage">Target image</label>
        <img id="targetImage" [src]="targetImageB64" />
      </div>

     </form>
</div>
